<h2><%= link_to post.title, post_url(post) %></h2>

<p><%= post.content %></p>
<h4>Comments</h4>

<ul>
  <% post.all_comments_by_parent_id[nil].each do |comment| %>
    <li>
      <%= render 'comments/stacked_comment', comment: comment, post: post %>
    </li>
    <br>
  <% end %>
</ul>
